<p id="notice"><%= notice %></p>
<h1>Listing References</h1>

<table border="1" style="width:100%">
    <thead>
        <tr>
            <th>Topics</th>
            <th>Options</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @references.each do |reference| %>
            <tr>
                <td><%= reference.topic %></td>
                <td><%= link_to 'Show', reference %>
                <%= link_to 'Edit', edit_reference_path(reference) %>
                <%= link_to 'Destroy', reference, method: :delete, data: { confirm: "Are you sure you want to delete #{reference.topic} reference?" } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New Reference', controller: "references", action: "new" %>

