<p id="notice"><%= notice %></p>

<p>
    <strong>URL:</strong>
    <%= @reference.URL %>
</p>

<p>
    <strong>Topic:</strong>
    <%= @reference.topic %>
</p>

<p>
    <strong>Annotation:</strong>
    <%= @reference.annotation %>
</p>
<p>
    <strong>DateTime:</strong>
    <%= @reference.datetime %>
<br>
<%= link_to 'Show All High Scores', references_path %>
