<style>
.graphics
{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.item
{
    text-align: center;
}
h1
{
    text-align: center;
}
.back
{
    text-align: right;
}
</style>

<p id="notice"><%= notice %></p>
<p class="back"><%= link_to 'Back to Homepage', items_path %></p>
<h1>Graphics Cards</h1>
<hr>
<br>

<% @graphics.each do |item| %>
    <div class="graphics">
        <%= link_to (image_tag root_url + "images/" + item.filename, size: "150x150"), item %>
        <p class="item"><%= item.name %></p>
        <p class="item">$<%= item.price %></p>
        <% if item.stock > 0 %>
            <p class="item"><%= link_to 'Add to cart', add_item_path(item) %></p>
            <p class="item"><%= link_to 'Add to wishlist', addwish_item_path(item) %></p>
        <% else %>
            <p class="item">Out of Stock</p>
        <% end %>
    </div>
<% end %>

