<style>
.motherboard
{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.item
{
    text-align: center;
}
</style>
<p id="notice"><%= notice %></p>
<h1>Motherboards</h1>

<% @motherboards.each do |item| %>
    <div class="motherboard">
        <%= link_to (image_tag root_url + "images/" + item.filename, size: "100x100"), item %>
        <p class="item"><%= item.name %></p>
        <p class="item">$<%= item.price %></p>
        <p class="item"><%= link_to 'Add to cart', add_item_path(item) %> </p>
    </div>
<% end %>



<%= link_to 'Back to Homepage', items_path %>
