<p id="notice"><%= notice %></p>

<%= link_to (image_tag root_url + "images/" + @item.filename, size: "300x300"), @item %>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @item.item_type %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @item.owner_id %>
</p>

<p>
  <strong>On sale:</strong>
  <%= @item.on_sale %>
</p>

<p>
  <strong>Purchased:</strong>
  <%= @item.purchased %>
</p>

<p>
  <strong>Items left in Stock:</strong>
  <%= @item.stock %>
</p>

<p>
  <strong>Specifications:</strong>
  <%= @item.specs %>
</p>

<p>
    <strong>Price:</strong>
    $<%= @item.price %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @item.comment %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
