<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<% if @my_images %>
    <h2>My Images</h2>
    <% @my_images.each do |image| %>
        
        <%= link_to (image_tag root_url + "images/" + image.filename, size: "100x100"), image %>
        
    <% end %>
<% end %>
<% if @my_private_images %>
    <h3>Private Images that I can access</h3>
    <% @my_private_images.each do |image| %>
    <% %>
    <%= link_to (image_tag root_url + "images/" + image.filename, size: "100x100"), image %>
    <% end %>
<% end %>
<h4><strong>Public Images</strong></h4>
<% @public.each do |image| %>
    <%= link_to (image_tag root_url + "images/" + image.filename, size: "100x100"), image %>  

<% end %>
<br>

<%= link_to 'New Image', new_image_path %>
