<p id="notice"><%= notice %></p>
<% if !@current_user_access %>
    <h1>Permissions denied</h1>
    <%= link_to 'Back', images_path %>
<% end %>
<%= link_to (image_tag root_url + "images/" + @image.filename, size: "300x300"), @image %>
<p>Image Owner: <%= current_user.email %></p>


<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

    <p>
    <table>
    <thead>
        <th>Tags</th>
    </thead>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
      <tr> 
        <td><%= tag.str %> </td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
      <% end %>
    <% end %>
    </table>
    </p>
<% if @owned_by_user %>
    <p><b>Create new Tag: </b>
        <%= form_for([@image, @tag]) do |f| %>
            <%= f.text_field :str %>
            <%= f.submit "Add new Tag" %>
        <% end %>
    </p>
    <p><b>Users who have access: </b>
        <% @list_of_users.each do |user| %>
            <%= user.name %>
        <% end %>
    </p>
    <%= render 'image_users/form' %>
    <br>
    <%= link_to 'Edit', edit_image_path(@image) %>
<% end %>
<br>

<%= link_to 'Back to home page', images_path %>
