<p id="notice"><%= notice %></p>
<% if !@current_user_access %>
    <h1>Permissions denied</h1>
    <%= link_to 'Back', images_path %>
<% end %>
<%= link_to (image_tag root_url + "images/" + @image.filename, size: "300x300"), @image %>
<p>Image Owner: 
    <% @all_users.each do |user| %>
        <% if user.id == @image.user_id %>
            <%= user.name %>
            <% @owner = user.name %>
        <% end %>
    <% end %>
</p>
<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

    <p>
    <table>
    <thead>
        <th>Tags</th>
    </thead>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
      <tr> 
        <td><%= tag.str %> </td>
        <% if current_user.name == @owner %>
            <td><%= link_to 'Edit', edit_tag_url(tag) %></td>
            <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    </table>
    </p>
<% if @owned_by_user %>
    <p><b>Create new Tag: </b>
        <%= form_for([@image, @tag]) do |f| %>
            <%= f.text_field :str %>
            <%= f.submit "Add new Tag" %>
        <% end %>
    </p>
    <p>
    <table><thead><th>Users who have access: </th></thead>
        <% @list_of_users.each do |user| %>
            <tr>
                <td><%= user.name + ": (" + user.email + ")" %></td>
               
            </tr>
        <% end %>
    </table>
    </p>
    <%= render 'image_users/form' %>
    <br>
    <%= link_to 'Edit', edit_image_path(@image) %>
<% end %>
<br>

<%= link_to 'Back to home page', images_path %>
