<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>
<h1>Enrolled Students</h1>
<% @course.enrollments.each do |enrollment| %>
      <% if !enrollment.new_record? %>
        <%= enrollment.student.name %><br>
  <% end %>
<% end %>
<hr>
<h2>Enroll a student into this course</h2>
<%= render 'enrollments/form' %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
